version: '3.8'
services:
  dns:
    image: ubuntu/bind9
    container_name: dns-server
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - ./dns/named.conf.local:/etc/bind/named.conf.local
      - ./dns/db.monllo.local:/etc/bind/zones/db.monllo.local
    networks:
    red-monllo:
    ipv4_address: 172.25.0.2
    restart: unless-stopped
  web:
    image: nginx:latest
    container_name: web-server
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/html:/usr/share/nginx/www
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./ssl:/etc/nginx/ssl
  networks:
    red-monllo:
    ipv4_address: 172.25.0.3
    depends_on:
      - dns
    restart: unless-stopped

networks:
  red-monllo:
  driver: bridge
  ipam:
    config:
      - subnet: 172.25.0.0/16